name: H8_10min_download

on:
  workflow_dispatch:      # 允许手动补跑
  # schedule:
    # - cron: '50 * * * *'  
permissions:
  contents: write
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Show current time
      run: date
    # build by conda
    - uses: conda-incubator/setup-miniconda@v3   # ② 安装 conda + Python
      with:
        python-version: 3.9
        auto-update-conda: false
    - name: Configure conda cache
      shell: bash -l {0}
      run: |
        cat << EOF > ~/.condarc
        pkgs_dirs:
          - ~/conda_pkgs_dir
        EOF
    - uses: actions/cache@v4
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda install -y -c conda-forge gdal netcdf4 numpy
    # build by pip 
    # - name: Install system dependencies (GDAL)
    #   run: |
    #     sudo apt-get update
    #     sudo apt-get install -y gdal-bin libgdal-dev
    # - name: Install Python dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install numpy netCDF4
    #     pip install GDAL==$(gdal-config --version)

    # main run
    - name: Run Python
      shell: bash -l {0}
      run: |
        python archive_h8_realtime.py
    - name: Commit changes if any
      run: |
        git config --global user.email "BOT@github.com"
        git config --global user.name "githubBOT"
        git add .
        git diff --cached --quiet || git commit -m "update realtime data" -a
        # git commit -m "update realtime data" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{secrets.GTOKEN}}
